

.total-quiz{
    border: solid 1px green;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

#startDiv button{
    font-size: 2em;
    margin: auto;
    width: 50%;
    text-align: center;
    margin:50px 0;
}

.quiz-header{
    font-size: 2em;
    background: lightcyan;
    text-align: center;
    border-bottom: black 1px solid;
    border-radius: 20px 20px 0 0;
    }

.question-section{
    margin: 20px 0px;
    }

.question-text{
    font-size: 0.8em;
    }

.question{
    margin: 5px 20px 5px 20px;
    }
.question-header{
    font-size: 1.6em;
    }

.answer-choice button{
    font-size: 1.2em;
    text-align: center;
    background: lightgreen;
    border-radius: 40px;
    line-height: 1.8em;
    margin-bottom: 3px;
    }

.submit-button{
    border-top: 1px solid black;
    padding: 20px;
    text-align: center;
}
.submit-button button{
    font-size: 1.2em;
    text-align: center;
    background: greenyellow;
    border-radius: 40px;
    line-height: 1.8em;
    margin-bottom: 3px;
    min-width: 50%;
    }

.timer{
    position: fixed;
    top: 0px;
    right: 0px;
    background: pink;
    min-width: 90px;
    min-height: 30px;
    font-size: 1.4em;
    text-align: center;
}